@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

.bg-pattern {
  background-position: right -4em top -2em;
  background-size: contain;
}

.bg-pattern-2 {
  background-position: 16em 25em;
}

.shadow-bottom {
  box-shadow: 0px 20px 20px -15px hsl(12deg 88% 59%);
}

.carousel-item {
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media (min-width: 580px) {
  .bg-pattern {
    background-position: right -10em top -8em;
  }
}

@media (min-width: 768px) {
  .bg-pattern3 {
    background-position: -200% 50%;
    background-size: contain;
  }
}

@media (min-width: 1028px) {
  .bg-pattern {
    background-position: right -9em top -7em;
  }
}
